h1{
    color:red;
    text-align: center;
}

/* Digital Clock */
.container div{
    display: inline-block;
}

.container{
    display: inline-block;
    text-align: center;
   background-color: black;
    width:600px;
    height:130px;
    border-radius: 30px;
    align-items: center;
    align-content: center;
    margin:10px 30px 30px 450px;
    
}
#hour,#minute,#second,#timeline{
    display: inline-block;
    width:30px;
    height:30px;
    padding: 40px;
    margin-top: 10px;
    margin-left:10px;
    border-radius: 10px;
    box-shadow:3px 3px 9px white;
    background-color: rgb(224, 137, 8);
    font-size: 50px;
    color:white;
    text-align: center;
      }
.dot{
    font-weight: 30px;
    font-size: 50px;
    color: azure;
    align-items: center;
    margin-left:10px;
    justify-content: center;
}

/* Register Assignment */
body{
    background-color: antiquewhite;
}
.reg_container{
    display: grid;
    grid-template-columns: auto auto;

}
.myForm{
    width:200px;
    height: 300px;
   background-color: darkolivegreen;
   
}
.input1{
    margin-left: 50px;
    padding: 10px;
    width: 100px;
    height:5px;
    margin-bottom: 20px;
}
.input2{
    margin-left: 25px ;
    height:30px;
    border: none;
}
.lbl1,.lbl2{
    font-size: 20px;
    color:white;
}
.button{
    text-align: center;
    width:100px;
    padding:5px;
    border-radius: 10px;
    border:none;
    font-size: 15px;
    margin-top:30px;
  justify-items: center;
}
.button:hover{
    background-color: darkgreen;
}
  